extends ../layouts/application.pug

block header
  = t('views.tasks.edit.edit')

block content
  table.table.table-striped
    tbody
      tr
        td= t('views.tasks.id')
        td= task.id
      tr
        td= t('views.tasks.name')
        td= task.name
      tr
        td= t('views.tasks.description')
        td= task.description
      tr
        td= t('views.tasks.statusId')
        td= task.statusId
      tr
        td= t('views.tasks.creatorId')
        td= task.creatorId
      tr
        td= t('views.tasks.executorId')
        td= task.executorId
      tr
        td= t('views.tasks.createdAt')
        td= formatDate(task.createdAt)
      tr
        td
          a(href=route('page to update task', {id: task.id}) class="btn nav-link")= t('views.tasks.update')
        td
          +buttonTo(route('delete task', { id: task.id }), 'delete')(class="btn nav-link" value=t('views.tasks.delete'))